*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgrey;
}
#container{
background-color: grey;
background: linear-gradient(to right,#0f0c29,#302b63,#24243e);
height: 70vh;
width: 70vw;
position: relative;
margin: auto;
top: 15%;
}

#user-score,#comp-score{
    color: white;
    position: absolute;
    top: 0;
    font-size: 2rem;
}

#user-score{
    left: 20%;
    /* color: green; */
}
#comp-score{
    right: 20%;
    /* color: green; */
}
#centerline{
    border: 2px dotted white;
    position: absolute;
    /* transform: rotate(90deg); */
    height: inherit;
    left: 50%;   
}
#user-padel,#comp-padel{
    position: absolute;
    background: white;
    height: 4rem;
    width: 0.5rem;
}
#ball{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    background-color: red;

}